body {
  overflow-x: hidden;
}

.navbar {
  @media screen and (max-width: 990px) {
    .download {
      display: none !important;
    }
  }

  background-color: hsl(37, 60%, 93%);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;

  .collapse {
    .navbar-nav {
      margin: auto;
      display: flex;
      justify-content: space-between;

      .nav-link {
        color: rgba(2, 6, 54, 1);
        padding-right: 70px;
      }

      .nav-link:active {
        color: rgba(214, 81, 35, 1);
      }
    }
    .download {
      .playstore {
        background-color: #020636;
        border-radius: 15px;
        padding: 8px 10px;
        margin-right: 15px;
        text-decoration: none;
        align-items: center;
        span {
          padding-left: 10px;
          color: #fff;
          font-size: 12px;
        }
        &:hover {
          transform: scale(1.05);
        }
      }

      .apple {
        border: 1px solid #020636;
        background-color: #f8f0e3;
        border-radius: 15px;
        padding: 8px 10px;
        text-decoration: none;
        align-items: center;
        span {
          padding-left: 10px;
          color: #020636;
          font-size: 12px;
        }
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  .homeH {
    color: rgb(160, 39, 25) !important;
  }
}

.section1 {
  @media screen and (max-width: 990px) {
    .nav {
      flex-direction: column-reverse;
    }
    .blockV {
      display: none;
    }
    .opnLetter {
      padding-top: 20px;
      color: #f8f0e3;
      padding-bottom: 30px;
      h1 {
        font-size: 30px !important;
      }
    }
    .sec1-Wrap {
      padding-top: 5px !important;
    }
    p {
      font-size: 10px;
    }
    .download {
      flex-direction: column;
    }
    .btn1 {
      font-size: 12px;
      width: 51%;
    }
    .btn2 {
      font-size: 12px;
      width: 51%;
    }
  }

  padding-top: 100px;
  .container {
    padding-top: 30px;
  }
  background-color: #020636;
  height: 900px;
  .blockV {
    background-color: rgba(248, 240, 227, 0.5);
    width: 300px;
    border-radius: 20px;
    padding-left: 10px;
    span {
      color: #f8f0e3;
    }
  }
  .opnLetter {
    padding-top: 40px;
    color: #f8f0e3;
    padding-bottom: 30px;
    h1 {
      font-size: 60px;
    }
  }
  .pp {
    color: rgba(248, 240, 227, 0.8);
    padding-bottom: 20px;
  }
  .sec1-Wrap {
    padding-top: 100px;
  }
  .dress {
    border: 2px solid #d65123;
    border-radius: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  .look {
    color: #d65123;
  }
  .btn1 {
    background: #f8f0e3;
    border-radius: 10px;
    padding: 3px 15px;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    span {
      padding-left: 5px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  .btn2 {
    background: #d65123;
    border-radius: 10px;
    padding: 3px 15px;
    align-items: center;
    text-decoration: none;
    color: #f8f0e3;
    font-size: 14px;
    span {
      padding-left: 10px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  .download {
    gap: 15px;
  }
}

.section2 {
  @media screen and (max-width: 990px) {
    padding: 1em !important ;

    .mobilePhone {
      display: none;
    }
    h1 {
      font-size: 20px;
    }
    h3 {
      font-size: 15px;
      width: 200px;
      font-weight: 600;
    }
    p {
      width: 250px;
      font-size: 12px;
    }
    .smallRec {
      align-self: baseline;
    }
    .download {
      flex-direction: column;
    }
  }

  background-color: #f8f0e3;
  .middle {
    align-items: center;
  }
  .abtUs {
    .middle {
      padding-bottom: 20px;
    }
    h3 {
      padding-bottom: 20px;
    }
    p {
      line-height: 2.5;
    }
  }
  .mobilePhone {
    position: absolute;
    z-index: 0;
    top: 733px;
  }
  .btn1 {
    background: #14110b;
    border-radius: 5px;
    padding: 3px 20px;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;

    @media screen and (max-width: 990px) {
      width: 68%;
    }
    span {
      padding-left: 5px;
    }
    &:hover {
      transform: scale(0.95);
    }
  }
  .btn2 {
    background: #d65123;
    border-radius: 5px;
    padding: 3px 20px;
    align-items: center;
    text-decoration: none;
    color: #f8f0e3;
    font-size: 14px;

    @media screen and (max-width: 990px) {
      width: 68%;
    }
    span {
      padding-left: 10px;
    }
    &:hover {
      transform: scale(0.95);
    }
  }
  .download {
    gap: 10px;
    padding-top: 40px;
  }
}

.section3 {
  @media screen and (max-width: 990px) {
    h1 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
    .Lrnbtn {
      font-size: 14px;
      padding: 10px 31px 10px 31px !important;
    }
    .lastP {
      padding-bottom: 10px !important;
    }
    .boyG {
      padding-top: 20px;
    }
    .section3wrapper {
      padding-top: 30px !important;
    }
  }

  background-color: #f8f0e3;
  padding-top: 30px;
  .section3wrapper {
    padding-top: 150px;
  }
  p {
    line-height: 2;
    display: flex;
    img {
      object-fit: contain;
      margin-right: 10px;
    }
  }
  .d-flex {
    align-items: center;
    gap: 10px;
  }
  .Lrnbtn {
    color: #f8f0e3;
    background-color: #020636;
    border: 1px solid #020636;
    padding: 15px 120px;
    border-radius: 10px;
    align-items: center;

    &:hover {
      transform: scale(0.95);
    }
  }
  .lastP {
    padding-bottom: 40px;
  }
}

.section4 {
  @media screen and(max-width:990px) {
    .slantP {
      display: none;
    }
    h1 {
      font-size: 16px;
    }
    h6 {
      font-size: 10px !important;
    }
    .download {
      flex-direction: column;
    }
    .btn1 {
      width: 60%;
    }
    .btn2 {
      width: 60%;
    }
  }

  background-image: url(/images/Bg4.png);
  background-color: #020636;
  background-size: cover;
  background-position: 0 -223px;
  background-repeat: no-repeat;

  .sec4wrap {
    padding-top: 50px;
  }
  h1 {
    color: #f8f0e3;
  }
  h6 {
    color: #aaa59e;
    font-size: 18px;
  }

  .btn1 {
    background: #ffffff;
    border-radius: 5px;
    padding: 3px 30px;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    span {
      padding-left: 5px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  .btn2 {
    background: #d65123;
    border-radius: 5px;
    padding: 3px 30px;
    align-items: center;
    text-decoration: none;
    color: #f8f0e3;
    font-size: 14px;
    span {
      padding-left: 10px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  .download {
    gap: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
  }
  .slantP {
    padding-bottom: 30px;
    padding-left: 250px;
  }
}

.section5 {
  @media screen and (max-width: 990px) {
    h1 {
      font-size: 20px;
    }
    .accordion-button {
      font-size: 16px !important;
    }
  }
  min-height: 700px;
  background-color: #f8f0e3;
  padding-top: 50px;
  h1 {
    padding-bottom: 50px;
  }
  .accordion-button {
    font-size: 20px;
  }
}

.footerFt {
  @media screen and(max-width:990px) {
    .Pp {
      font-size: 12px;
    }
    h5 {
      font-size: 18px;
      padding-bottom: 10px !important;
    }
    li {
      font-size: 12px !important;
    }
    .lastLine p {
      font-size: 8px !important;
    }
    .btmLine {
      display: flex;
      justify-content: flex-start !important;
    }
    .lineP {
      padding-bottom: 1px !important;
    }
    .btmLine {
      align-self: center;
    }
  }

  background-color: #020636;
  padding-top: 50px;
  min-height: 500px;
  color: #f8f0e3;

  img {
    padding-bottom: 20px;
  }
  h5 {
    padding-bottom: 30px;
  }
  p {
    line-height: 2;
    font-size: 14px;
    // padding-bottom: 30px;
  }
  li {
    font-size: 14px;
    line-height: 2;
  }
  .lastLine {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    .btmLine {
      display: flex;
      justify-content: flex-end;
    }
  }
}
